<!DOCTYPE html>
<html>
{% load static %}

<head>
	<title>Home</title>
	<style type="text/css">
		:root {
                --black: #555;
                --white: #fff;
            }
            html {
                box-sizing: border-box;
            }
            * {
                box-sizing: inherit;
            }
            body {
                padding: 0;
                margin: 0;
                font-size: 16px;
                min-height: 100vh;
                min-width: 100vw;
            }
            
            .container {
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            .title {
                text-align: center;
                font-size: 6rem;
                color: var(--black);
            }
            .btn {
                font-family: sans-serif;
                padding: 1rem 3rem;
                background: var(--black);
                color: var(--white);
                text-decoration: none;
                text-transform: uppercase;
                font-size: 1.25rem;
                border-radius: .5rem;
            }
	</style>
</head>
<body>
	<div class="container">
	<h1 class="title">	Hello What's Up?!</h1>

	<form method="POST">
		{% csrf_token %}
        {{form}}
        <div class="container">
            <button type="submit" class="col-6 save btn">lets Go</button> 
        </div>
		
    </form>
    <a href="profile">
        <button>profile</button>
    </a>

	{% for stat in data%}	
	<div class="row">
		<h3 class="col-6">{{stat.status}}</h3>

		<h3 class="col-6">{{stat.dateTime}}</h3>	
	</div>	
	{% endfor %}
	</div>

</body>
</html>