{% load static %}
<html>
    <head>

        {% include "base.html"%}

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            :root {
                --black: #555;
                --white: #fff;
            }
            html {
                box-sizing: border-box;
            }
            * {
                box-sizing: inherit;
            }
            body {
                padding: 0;
                margin: 0;
                font-size: 16px;
                min-height: 100vh;
                min-width: 100vw;
            }
            
            .container {
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            .title {
                text-align: center;
                font-size: 6rem;
                color: var(--black);
            }
            .btn {
                font-family: sans-serif;
                padding: 1rem 3rem;
                background: var(--black);
                color: var(--white);
                text-decoration: none;
                text-transform: uppercase;
                font-size: 1.25rem;
                border-radius: .5rem;
            }
        </style>
    </head>
    <body>
        <div class="container">

            <h1 class="title">Hello whats up?!</h1>

            <form method="POST" class="post-form" novalidate>
                    {% csrf_token %}
                    {{ form }}
                    <a class="btn" href="/create">Let's GO</a>
                </form>


        </div>
    </body>
</html>